<% if MaintenanceMode::Functions.maintenance_ongoing? %>
<div class="maintenance_message">
  <%= textilizable(settings[:maintenance_message_f]) %>
  <p><%= l(:maintenance_mode_login_admin_only) %></p>
</div>
<% end %>
