<% maintenance_message = MaintenanceMode::Functions.maintenance_message %>
<% if maintenance_message.present? %>
<div class="maintenance_message">
  <%= textilizable(maintenance_message) %>
  <p><%= l(:maintenance_mode_login_admin_only) %></p>
</div>
<% end %>
